.benefits {
  &__title {
     font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color); 
  }
  &__text {
    padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;  
  }
}

.benefits__list {
  display: flex;
  justify-content: center;
  &__item:not(:first-child) {
    margin-left: 30px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.benefits__icon {
  justify-content: center;
  align-items: center;
  margin: 25px 100px;
  &__wrapper {
      border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  }
}

