.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.customers__list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  &__item:not(first-child) {
  margin-left: 30px;
}
}


.customers__link {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  border-color: #2196f3;  
  }
  .customers__icon {
  margin: 16px 32px;
  fill: currentColor;
}
}
