.team {
  background-color: #f5f4fa;
 &__text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var( --main-text-color);
}
}

.team__list {
  display: flex;
  
  .team__item {
  background-color: white;
}
.team__item:not(:first-child) {
  margin-left: 30px;
}
}


.team__title {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
    &__basic {
     display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color); 
  }

}

.team__social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .team__social__item:not(:first-child) {
  margin-left: 10px;
}
.icon__social {
  fill: currentColor;
}
}

.team__social__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
      background-color: #2196f3;
  color: #ffffff;
  }
}
