:root {
  /*------TEXT-COLOR-----*/
  --main-text-color: #757575;
  --logo-blue-color: #2196f3;
  --logo-dark-color: #000000;
  --logo-white-color: #ffffff;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --blue-text-color: #2196f3;

  /*------HVER-COLOR-----*/
  --hover-blue-color: #2196f3;

  /*------BG-COLOR-----*/
  --white-bg-color: #ffffff;
  --section-bg-color: #2f303a;
  --blue-bg-color: #2196f3;
  --bg-filters-btn: #f5f4fa;

  --main-font-family: 'Roboto', sans-serif;
}